/* Global rules */
/* @import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@600&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=BioRhyme:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT:wght@700&display=swap');

html {
    background-color: rgb(59, 106, 89);
    /* font-family: 'Cormorant', serif; */
    font-family: 'BioRhyme', serif;
    font-size: 1.2em;
    line-height: 1.5em;
}

::selection {
    color: #000; 
    background: #ff0;
}

h1 {
    font-weight:normal;
    /* font-size: 50px; */
    margin: auto;
    background: #f5f5dc;
    line-height: 2.5em;
    text-shadow: 2px 2px 2px black;
}
h1.page-header{
    font-family: 'Old Standard TT', serif;
}

main.wrapper {
    background-color: #f5f5dc;
    overflow: auto;
}

p {
    margin: 1em; /* Top Right Bottom Left (TRBL) */
}

h2,h3 {
    font-weight: normal;
    margin-left: 1em;
    line-height: 1em;
}

a {
    color:blue;
    text-decoration: none;
}

a:hover {
    background-color: rgb(217, 213, 213);
    text-decoration: none;
    color:blueviolet;
}

footer {
    clear: both;
    text-align: center;
    padding: 1em;
}

/* Responsive rules */

/* DESKTOP */
@media all and (min-width:1200px) {
    main.wrapper {
        width: 80%;
        margin: auto;
    }
    
    h1 {
        width: 79%;
        padding-left: 1%;
    }
    
    picture.profile img {
        width: 50%;
        float: left;
        margin-right: 2em;
    }
    
}
/* TABLET */
@media all and (min-width:501px) and (max-width:1199px) {
    main.wrapper {
        width: 90%;
        margin: auto;
    }
    
    h1 {
        width: 89%;
        padding-left: 1%;
    }
    
    picture.profile img {
        width: 50%;
        float: right;
        margin-left: 1em;
    }

}

/* PHONE */
@media all and (max-width:500px) {
    main.wrapper {
        width: 100%;
    }
    
    h1 {
        width: 99%;
        padding-left: 1%;
        font-size: 35px;
    }
    
    picture.profile img {
        width: 100%;
    }
    
}
